<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
		var app = angular.module("learniverse", []);
		//
		app.controller('searchCtrl',function($scope,$http){
			$scope.Search=function(){
				var v = $scope.S.SearchName;
        var s = $scope.S;
        var link = "https://localhost:44377/api/course/"+v;
        debugger;
        $http.get(link).then(function(resp){
          $scope.search = resp.data;
          // https://localhost:44377/api/course/${v}
         // debugger;
				},function(err){
          //debugger;
        
				});
        $http.post("https://localhost:44377/api/Search/add",s).then(function(resp1){
          $scope.show1 = resp1.data;
          //debugger;
        
				},function(err){
          //debugger;
       
				});
        
			};
      $scope.loadData = function () {
            var v = $scope.l;
            $http.get("https://localhost:44377/api/search").then(function (resp) {
                $scope.data = resp.data;
               // debugger;
            }, function (err) {
               // debugger;
            });

        };
		});
		
</script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="../css/Project.css">
  <link rel="stylesheet" type="text/css" href="../css/circle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-WmnOwLV93RuCP5zoCM3YXat2Y7/n16ffmjv4QecUijeqy6BbVTlSQF2c06tsqsdCscGk0QRLSqT/DzkPjcjsVw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>


<body ng-app="learniverse">

    <div class="topnav">
        <a class="active" href="#home" style="font-size: 18px;">Lernivers</a>
        <a href="../FrontEnd/Landingpage.html">Home Page</a>
        <a href="../FrontEnd/AboutUs.html">About Us</a>
        <a href="../FrontEnd/Login.html">Login</a>
        <a href="../FrontEnd/Registration.html">Sign Up</a>
        <button class="logout-button" onclick="window.location.href='Logout.html';">
          <i class="fas fa-sign-out-alt"></i>
          Logout
        </button>
      </div>


 <!--Search Start-->
 <div ng-controller="searchCtrl" ng-init="loadData()">

  <center> <p style="font-size: 60px;"><b>Search for Course</b></p></center>

<center> <form ng-submit="Search()">
  
    <table border=1 style="border-collapse:collapse">
        <tr>
          <td colspan="2">Top Searches</td>
        </tr>
        <tr>
            <th>Topic</th>
            <th>Search Count</th>
        </tr>
        <tr ng-repeat="d in data">
            <td>{{d.SearchName}}</td>
            <td>{{d.Count}}</td>
        </tr>
    </table>
    <input type="text" ng-model="S.SearchName">   <button style="height: 45px; width: 90px;">Search</button>
 </form>
</center>
 <center>
    <table border="1">
      <tr>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
      </tr>
        <tr>
            <td>
              {{search.Name}}
            </td>
            <td>
              {{search.Category}}
            </td>
            <td>
              {{search.Price}}
            </td>
        </tr>
     </table>
    
 </center>

 </div>
 
<br>
<br>

<footer>
    <table>
        <tr>
            <td>
             <p style="font-size: 50px;">Lernivers</p>
             <p style="font-size: 15px;">highest rated hybrid, </p>
             <p style="font-size: 15px;">in-person and virtual events platfrom</p>
            </td>
    
            <td style="padding-left: 150px; font-size: 25px;">
                <ul>
                    <ul>Categories</ul>
                    <br>
                   <ul><a href="../FrontEnd/TopPicks.html">Top Picks</a></ul>
                    <br>
                    <ul>Account</ul>
                    <br>
                    <ul>Create Group</ul>
                    <br>
                    <ul>Discover</ul>
                    <br>
                    <ul>Home</ul>
                </ul>
            </td>

            <td style="padding-left: 150px;  font-size: 25px;">
                <ul>
                    <ul>Terms</ul>
                    <br>
                    <ul>Privacy</ul>
                    <br>
                    <ul>Security</ul>
                    <br>
                    <ul>Partner Program</ul>
                </ul>
            </td>


            <td style="padding-left: 150px;  font-size: 25px;">
                <ul>
                    <ul>Give a gift</ul>
                    <br>
                    <ul>Blog</ul>
                </ul>
            </td>


            <td style="padding-left: 150px;  font-size: 25px;">
                
             <div class="box"><p style="padding-top:10px ;"><a href = "../FrontEnd/Registration.html">Join Us</ahref></p></div>


            </td>

        </tr>
    </table>
  </footer>
</body>
</html>